@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black text-white
}

.loader {
    width: 100%;
    height: 1.8px;
    display: inline-block;
    position: relative;
    background: rgba(255, 255, 255, 0);
    overflow: hidden;
  }
  .loader::after {
    content: '';
    width: 192px;
    height: 1.8px;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      left: 0;
      transform: translateX(-100%);
    }
    100% {
      left: 100%;
      transform: translateX(0%);
    }
  }
      